.app-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 20%;
    right: 20%;
    bottom: 0;
    & > .sub-head {
        margin-bottom: 30px;
    }
    & > .bp3-card {
        margin-bottom: 30px;
    }
}

.bp3-button-group {
    justify-content: center;
}
